body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: #ffffff;
    text-align: center;
    padding: 0;
    margin: 0;
}

.wrap {
    background: #F5F5F5;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    max-width: 1440px;
}


/* Common CSS class-variables */

.blue-bgr {
    background: #0F54B9;
    color: #DFE8F5;
}

.gray-bgr {
    background: #F5F5F5;
    color: #202020;
}

.blue {
    color: #0F54B9;
}
