body {
    background: white;
}

header {
    background: url(../img/header-bgr.jpg);
    color: #ffffff;
}

header div:first-of-type {
    height: 40px;
    border-bottom: 1px #9EA8B0 solid;
}

header div a {
    position: relative;
    ;
    top: 10px;
    text-decoration: none;
    color: white;
}

header div a {
    float: right;
    margin-right: 20px;
}

header div a:first-of-type {
    float: left;
}

header div a:last-child {
    border-bottom: 1px #fff dashed;
}

section {
    margin-left: 126px;
    margin-right: 126px;
}

.wrap {
    min-width: 980px;
}
